<!--
/************************************************************************
* Appirio, Inc
* Page Name: AssociationCodeForAccount
* Description: [Task# T-585630 used to show Association code(External Id) and description value of Referece Record on General Account]
* Created Date: [16/3/2017]
* Created By: [Neeraj Kumawat] (Appirio)
* 
* Date Modified                Modified By                  Description of the update
* [17/3/2017]                  Neeraj Kumawat               Updated UI to show association code and description
***********************************************************************/
-->
<apex:page standardController="Account" docType="html-5.0" extensions="AssociationCodeForAccountController">
    <apex:form >
     <style>
      .divCls{
        padding-top: 3px;
        padding-bottom: 3px;
        padding-right: 10px;
        width: 18%;
        padding-left: 2px;
        text-align: left;
        font-size: 91%;
        font-weight: bold;
        font-family: Arial,Helvetica,sans-serif;
      }
     </style>
        <!-- Dispaly Association code(External Id) and Description of Reference record-->
        <table>
        <!--  <tr class="divCls">
              <td>{!$Label.Association_Codes_With_Description_Title_Label}</td>
          </tr>-->

          <tr>   
               <td>
               <apex:outputText rendered="{!refrenceValue!= null && refrenceValue != ''}" value="{!refrenceValue}"/>
                    <!-- Showing No records to display when referenceList is empty -->
                    <apex:outputText rendered="{!refrenceValue== null || refrenceValue == ''}" value="{!$Label.No_Record_To_Display_Label}" />
              </td>
          </tr>
      </table>
    </apex:form>
</apex:page>