<!--
/************************************************************************
 * Appirio, Inc
 * Page Name: ViewAccuityData
 * Description: [Task # T-607631]
 * Created Date: [06/06/2017]
 * Created By: [Aashish Sajwan] (Appirio)
 * 
 * Date Modified                Modified By                  Description of the update
 
 ***********************************************************************/
-->
<apex:page controller="ViewAccuityDataController">
<apex:form >
<apex:stylesheet value="{!URLFOR($Resource.DataTable, '/css/dataTable.css')}"  />  
        <apex:includeScript value="{!URLFOR($Resource.DataTable, '/js/jquery-1.11.1.min.js')}"  />
        <apex:includeScript value="{!URLFOR($Resource.DataTable, '/js/jquery.dataTables.min.js')}"  />
        <apex:includeScript value="{!URLFOR($Resource.DataTable, '/js/jquery-1.10.2.min.js')}"  />
        <apex:includeScript value="{!URLFOR($Resource.DataTable, '/js/jquery.dataTables.js')}"  />
        
        <script language="javascript" type="text/javascript">
             var j$ = jQuery.noConflict();
             j$(document).ready(function() {
                $('#table1').DataTable(    
                    {                    
                        "searching": false,
                        "lengthChange": false,
                        "pageLength": 25,
                        "info": false,
                        "sort":false,
                        "paging": false,
                        "order": [[ 0, "desc" ]] 
                    }         
                );
            } );
            </script>
            <br/> <apex:CommandLink value="{!$Label.Return_to_Banking_Information_Label}" action="{!returnToBankingInfo}"/><br/><br/>
            <apex:pageBlock >
            <table  width="100%" id="table1" class="advancedtable" border="0" cellspacing="0" cellpadding="0">
                <thead>
                    <tr>
                        <th style="text-align:left;">{!$Label.Financial_Inst_Full_Name_Label}</th>
                        <th style="text-align:left;">{!$Label.BranchName}</th>
                        <th style="text-align:left;">{!$Label.Branch_Addr_Line_1_Label}</th>
                        
                        <th style="text-align:left;">{!$Label.Branch_Addr_Line_2_Label}</th>
                        <th style="text-align:left;">{!$Label.Branch_City_Label}</th>
                        <th style="text-align:left;">{!$Label.Branch_State_Code_Label}</th>
                        
                        <th style="text-align:left;">{!$Label.Branch_State_Name_Label}</th>
                        <th style="text-align:left;">{!$Label.Branch_Postal_Code_Label}</th>
                        <apex:outputPanel rendered="{!Bank_Country=='Mexico'}">
                        <th style="text-align:left;">{!$Label.Branch_Country_Label}</th>
                        </apex:outputPanel>
                        <apex:outputPanel rendered="{!Bank_Country!='Mexico'}">
                        <th style="text-align:left;">{!$Label.Branch_Phone_Label}</th>
                        <th style="text-align:left;">{!$Label.Branch_Country_Label}</th>
                        </apex:outputPanel>
                    </tr>
                </thead>
                <tbody>    
                  <apex:repeat value="{!AccutiyDatalist}" var="responseVal">        
                         <tr>                            
                            <td style="padding-left:5px;text-align:left;  border-right:1px solid #ccc;border-bottom:1px solid #ccc;">{!responseVal.FinancialInstFullName}</td>
                            <td style="padding-left:5px;text-align:left;  border-right:1px solid #ccc;border-bottom:1px solid #ccc;">{!responseVal.BranchName}</td>
                            <td style="padding-left:5px;text-align:left;  border-right:1px solid #ccc;border-bottom:1px solid #ccc;">{!responseVal.BranchAddrLine1}</td>
                            <td style="padding-left:5px;text-align:left;  border-right:1px solid #ccc;border-bottom:1px solid #ccc;">{!responseVal.BranchAddrLine2}</td>
                            <td style="padding-left:5px;text-align:left;  border-right:1px solid #ccc;border-bottom:1px solid #ccc;">{!responseVal.BranchCity}</td>
                            <td style="padding-left:5px;text-align:left;  border-right:1px solid #ccc;border-bottom:1px solid #ccc;">{!responseVal.BranchStateCode}</td>
                            <td style="padding-left:5px;text-align:left;  border-right:1px solid #ccc;border-bottom:1px solid #ccc;">{!responseVal.BranchStateName}</td>
                            <td style="padding-left:5px;text-align:left;  border-right:1px solid #ccc;border-bottom:1px solid #ccc;">{!responseVal.BranchPostalCode}</td>
                            <apex:outputPanel rendered="{!Bank_Country=='Mexico'}">
                            <td style="padding-left:5px;text-align:left;  border-right:1px solid #ccc;border-bottom:1px solid #ccc;">{!responseVal.BranchCountry}</td>
                            </apex:outputPanel>
                            <apex:outputPanel rendered="{!Bank_Country!='Mexico'}">
                            <td style="padding-left:5px;text-align:left;  border-right:1px solid #ccc;border-bottom:1px solid #ccc;">{!responseVal.BranchPhone}</td>
                             <td style="padding-left:5px;text-align:left;  border-right:1px solid #ccc;border-bottom:1px solid #ccc;">{!responseVal.BranchCountry}</td>
                           </apex:outputPanel>
                        </tr>
                   </apex:repeat>
                </tbody>
            </table>
            </apex:pageBlock>
            
                   <apex:outputText rendered="{!AccutiyDatalist.size == 0}" ><br/><br/> "{!$Label.No_Documents_Label}" </apex:outputText> 
           
       
</apex:form>
</apex:page>